<?xml version="1.0"?>
<launch>
    <!-- ************************************************************************ -->
    <!-- Define world -->
    <arg name="world_name" default="$(find kobuki_control)worlds/taller2.world" />
    <!-- <arg name="world_name" default="(find gazebo_ros)/launch/empty_world.launch" /> -->

    
    <!-- ************************************************************************ -->
    <!-- RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kobuki_navigation)/rviz/rviz.rviz" />

    <!-- ************************************************************************ -->
    <!-- Nodes -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find kobuki_navigation)/config/data_map.yaml" />

</launch>